body {
  background: radial-gradient(
    circle at 50% 50%,
    rgb(148, 188, 216) 0%,
    rgb(123, 195, 199) 10.9%,
    rgb(172, 231, 236) 40.7%,
    rgb(240, 230, 155) 90.2%
  );
}

h1 {
  margin-top: 5%;
  color: navy;
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
  text-decoration: underline;
}

h2 {
  font-weight: 500;
  text-decoration: underline;
  color: navy;
}

h3 {
  color: navy;
  text-align: center;
}
#celsius-link {
  color: navy;
  font-size: 20px;
}

ul,
li {
  list-style: none;
  font-weight: bold;
  color: navy;
  text-align: center;
}
#current-location-button {
  background-color: orange;
}
h4 {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 10%;
  margin-left: 5%;
}

h5 {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 10%;
  margin-right: 5%;
  transform: scaleX(-1);
}

.col {
  text-align: center;
  font-weight: 400;
  padding: 1px;
  margin: 10px 5px;
  border: 4px rgb(227, 171, 15);
  border-style: double;
  border-radius: 10%;
  color: navy;
}

h6 {
  text-align: center;
  text-decoration: underline;
  font-size: 25px;
  font-weight: 500;
  color: navy;
  padding: 20%;
}

.card {
  background: radial-gradient(
    circle at 50% 50%,
    rgb(233, 233, 229) 0%,
    rgb(212, 228, 229) 20.9%,
    rgb(122, 223, 232) 40.7%,
    rgb(240, 230, 155) 95.2%
  );
  border-radius: 10%;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  height: 100%;
}

.card:hover {
  transform: scale(1.2);
}
p {
  text-align: center;
  font-weight: 500;
  font-size: larger;
}
