body {
  background: radial-gradient(
    circle at 50% 50%,
   
    rgb(177, 231, 236) 10.8%,
    rgb(240, 230, 155) 95.2%
  );
   margin: 0 auto;
   margin-top: 2%;
  padding: 10px;
  border: 5px solid  rgb(227, 171, 15);
  border-radius: 2%;
  max-width: 950px;
}


h1 {
margin-top: 2%;
  color: navy;
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
  text-decoration: underline;
}

h2 {
 font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  color: navy;
}

h3 {
  color: navy;
  text-align: center;
   font-size: 15px;
   font-weight: bold;
   margin-bottom: 0;
}
#celsius-link {
  color: navy;
  
}
#fahrenheit-link {
color: navy;
 
}  

ul,
li {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
  color: navy;
  text-align: center;
  line-height: 25px;
}

#current-location-button {
background-color:  orange;
  }

h4 {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 3%;
  margin-left: 22%;
}

h5 {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 3%;
  margin-right: 22%;
  transform: scaleX(-1);
}

.row {
  margin: 0 100px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  text-align: center;
  font-weight: 400;
  padding: 1px;
  margin: 5px 5px;
  border: 4px rgb(227, 171, 15);
  border-style: double;
  border-radius: 10%;
  color: navy;
   float: left;
  width: 33.33%;
  padding: 5px;
   max-height: 200px;
}

h6 {
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 500;
  color: navy;
  padding: 5%;
  
}

.card {
  background: radial-gradient(
    circle at 50% 50%,
    rgb(233, 233, 229) 0%,
    rgb(212, 228, 229) 20.9%,
    rgb(122, 223, 232) 40.7%,
    rgb(240, 230, 155) 95.2%
  );
  border-radius: 10%;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  height: 100%;
 
}


.card-body {
    padding: .2rem;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 16px 0 rgb(67, 67, 204);
}
p {
  text-align: center;
  font-weight: 500;
  font-size: 15px;
}
footer {
  font-weight: 450;
  font-size: 12px;
  
}